<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
        <title>{% block title %}Travel blog{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block navigation %}{% endblock %}
        </header>

            <div class="row">
                <div class="col-sm-9">
                    {% block body %}{% endblock %}
                </div>

                <div class="col-sm-3">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>

            <div class="panel-footer">
                {% block footer %}
                    created by Alex Kobilianskiy
                {% endblock %}
            </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
