.sidebar {border-left: 1px solid #2e6da4; padding-left: 10px; margin: 10px}
.article {margin-bottom: 10px; border-bottom:1px solid #ccc; padding-bottom: 30px}
.date{margin:0 5px 10px 0; font-size: 14px; color: #1b6d85}
a {color: #1b6d85}
a:hover {text-decoration: none; color: #0000F0; background-color: #ccc}
.article-title h2 {display: inline; padding-bottom:10px}
.category{position:absolute; right:10px; }
.article img {width: 190px; float:left; padding: 5px; border: 1px solid #ccc; margin: 0 10px 10px 0}
.continue {text-align:right}