.article {margin-bottom: 10px; border-bottom:1px solid #ccc; padding-bottom: 30px}
.article-title h2 {display: inline; padding-bottom:10px}
.article img {width: 190px; float:left; padding: 5px; border: 1px solid #ccc; margin: 0 10px 10px 0}
.article-image {width: 300px; float:left; padding: 5px; border: 1px solid #ccc; margin: 0 10px 10px 0}
a {color: #1b6d85}
a:hover {text-decoration: none; color: #0000F0; background-color: #ccc}

.category{position:absolute; right:10px; }
.continue {text-align:right}

.comment {padding: 20px; border-top: 1px dotted #ccc}
.comment img{float: left; width: 50px; padding: 3px; border: 1px solid #ccc; margin: 0 10px 10px 0 }
.comment .comment-header {padding: 5px; border-bottom: 1px dotted #ccc; overflow: hidden}
.comment .comment-content {padding: 20px 0 0 0; margin-left:68px}
.comment #login {font-weight:bold}
.comment #date {font-size: 0.8em; margin-left: 10px; color: #999999}

.subcomment{margin-left: 100px}
.subcomment > .comment{padding: 20px 20px 20px 0}

.date{margin:0 5px 10px 0; font-size: 14px; color: #1b6d85}

.message {padding:20px; font-size:16px; font-style:italic; margin-bottom: 20px}
.meta{clear:left; font-size: 12px;}
.meta p {margin-bottom: 5px; line-height: 1.2em}
.meta .author {margin: 0 5px 0 0; padding:2px; background-color: #EEEEEE}

.sidebar {border-left: 1px solid #2e6da4; padding-left: 10px; margin: 10px}

.tag {font-size: 14px; margin: 0 8px 0 0;}
.tag a {color: tomato}

#carousel-example-generic{margin:20px 0 20px 0; border: 1px solid #ccc; padding: 2px}

.span-block .checkbox {display: inline-block; width: 150px; margin-right:10px}

