{% extends 'layout.html.twig' %}

{% block body %}
    <header>
        <h3>Update information about article "{{ article.title }}"</h3>
    </header>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}