{% extends 'layout.html.twig' %}

{% block body %}
    <h3>Enter your data for registration</h3>
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}